  <div class="container-fluid">
    <img class="img-fluid" src="">
  </div>

  <div class="container  mt-5 pt-3 pb-3">
    <form [formGroup]="googleSheetForm" (ngSubmit)="onSubmit()">

      <div class="row justify-content-center">

        <div class="col-md-5 mb-4">
          <label for="name" class="form-label small" style="color: white;">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>
    
        <div class="col-md-5 mb-4">
          <label for="sobrenome" class="form-label small" style="color: white;">Sobrenome</label>
          <input type="text" class="form-control" id="sobrenome" formControlName="sobrenome" required>
        </div>
    
        <div class="col-md-5 mb-4">
          <label for="datanasci" class="form-label small" style="color: white;">Data de Nascimento</label>
          <input type="text" class="form-control" id="datanasci" formControlName="datanasci"
            bsDatepicker required>
        </div>
    
        <div class="col-md-5 mb-4">
          <label for="telefone" class="form-label small" style="color: white;">Telefone</label>
          <input type="text" class="form-control" id="telefone" formControlName="telefone" required>
        </div>
    
        <div class="col-md-5 mb-4">
          <label for="local" class="form-label small" style="color: white;">Local</label>
          <select class="form-select" id="local" formControlName="local">
            <option *ngFor="let local of locais" [value]="local">{{ local }}</option>
          </select>
        </div>

        <div class="col-md-10 text-center"> <!-- Coluna para o botão, adicionando a classe "text-center" para centralizá-lo -->
          <button class="btn btn-secondary mt-3" style="width: 200px;">OK</button>
        </div>

      </div>
  
    </form>
  </div>