  <div class="container-fluid d-flex justify-content-center">
    <img class="img-fluid mt-5" src="./../../assets/quero mais preto.png" style="max-width: 200px; max-height: 200px;">
  </div>  

  <div class="mt-5 mb-3 d-flex flex-column align-items-center px-5">
    <h1 style="color: rgb(41, 41, 39);" class="custom-title-1">HALLELUYA QUERO MAIS</h1>
    
    <p style="color: rgb(41, 41, 39);" class="ml-1 mr-5">Viva uma experiência transformadora, viva a festa que nunca acaba na sua vida, participe de um encontro que vai encher o seu coração de alegria e esperança. Aqui você poderá se inscrever e viver de forma ainda mais profunda a experiência do nosso festival, através do QUERO MAIS.</p>
    <p style="color: rgb(41, 41, 39);" class="ml-2 mr-2">Venha participar desse encontro nos dias 29 e 30 de julho no Shalom mais perto de você!</p>
  </div>

  <div class="container  mt-5 pt-3 pb-3">
    <form [formGroup]="googleSheetForm" (ngSubmit)="onSubmit()">

      <div class="row justify-content-center">

        <div class="col-md-10 text-center">
          <h2 style="color: rgb(41, 41, 39);"  class="custom-title-2">Cadastro de Participantes - Aquiraz</h2>
        </div>

        <div class="col-md-5 mb-4">
          <label for="nome" class="form-label small" style="color: rgb(41, 41, 39);">Nome</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">
          <div *ngIf="googleSheetForm.get('nome')!.invalid && googleSheetForm.get('nome')!.touched" class="text-danger">
            <div *ngIf="googleSheetForm.get('nome')!.hasError('required')">Nome é obrigatório.</div>
          </div>
        </div>
       
        <div class="col-md-5 mb-4">
          <label for="data_nascimento" class="form-label small" style="color: rgb(41, 41, 39);">Data de Nascimento</label>
          <input type="date" class="form-control" id="data_nascimento" formControlName="data_nascimento"
            bsDatepicker>
            <div *ngIf="googleSheetForm.get('data_nascimento')!.invalid && googleSheetForm.get('data_nascimento')!.touched" class="text-danger">
              <div *ngIf="googleSheetForm.get('data_nascimento')!.hasError('required')">Data de Nascimento é obrigatória.</div>
            </div>
        </div>
            
        <div class="col-md-5 mb-4">
          <label for="endereco" class="form-label small" style="color: rgb(41, 41, 39);">Endereço</label>
          <input type="text" class="form-control" id="endereco" formControlName="endereco">
          <div *ngIf="googleSheetForm.get('endereco')!.invalid && googleSheetForm.get('endereco')!.touched" class="text-danger">
            <div *ngIf="googleSheetForm.get('endereco')!.hasError('required')">Endereço é obrigatório.</div>
          </div>
        </div>
    
        <div class="col-md-5 mb-4">
          <label for="telefone" class="form-label small" style="color: rgb(41, 41, 39);">Telefone</label>
          <input type="text" class="form-control" id="telefone" formControlName="telefone">
          <div *ngIf="googleSheetForm.get('telefone')!.invalid && googleSheetForm.get('telefone')!.touched" class="text-danger">
            <div *ngIf="googleSheetForm.get('telefone')!.hasError('required')">Telefone é obrigatório.</div>
          </div>
        </div>

        <div class="col-md-5 mb-4">
          <label for="email" class="form-label small" style="color: rgb(41, 41, 39);">E-mail</label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <div *ngIf="googleSheetForm.get('email')!.invalid && googleSheetForm.get('email')!.touched" class="text-danger">
            <div *ngIf="googleSheetForm.get('email')!.hasError('required')">E-mail é obrigatório.</div>
            <div *ngIf="googleSheetForm.get('email')!.hasError('email')">Formato de e-mail inválido.</div>
          </div>
        </div>   

        <div class="alert alert-success mt-3 position-fixed top-0 start-50 translate-middle-x" style="z-index: 9999;" *ngIf="showMessage">
          Dados salvos!
        </div>

        <div class="col-md-10 text-center"> <!-- Coluna para o botão, adicionando a classe "text-center" para centralizá-lo -->
          <button class="btn btn-secondary mt-3" style="width: 200px;" (click)="onSubmit()">OK</button>
        </div>

      </div>
  
    </form>
  </div>