.custom-title-1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 350;
    font-style: italic;
    font-weight: bold
  }

.custom-title-2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-weight: bold
}  