/* Defina as cores do degradê */
:root {
  --gradiente-inicio: #e1340f;
  --gradiente-meio1: #e5550b;
  --gradiente-meio2: #e97111;
  --gradiente-meio3: #ee8c21;
  --gradiente-fim: #f3a931;
}

/* Crie o gradiente linear no corpo da página */
body {
  background: linear-gradient(to bottom, var(--gradiente-inicio), var(--gradiente-meio1), var(--gradiente-meio2), var(--gradiente-meio3), var(--gradiente-fim));
  margin: 0;
  padding: 0;
  height: 100%;
}
